<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi, <%= @subscriber.name %>!</h1>
    <h1>
      Thanks for subscribing. Please confirm your email by clicking the link below<br/>
    </h1>
    <h5><a href=<%= @url %>>Confirm</a></h5>
    <h4>Have a fantastic day!</h4>
  </body>
</html>