@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);


body {
    background: #ddd url(bg.png);
}

.container {
    margin-top: 150px;
}
h1 {
    color: rgb(118, 204, 30);
    /*color: #f73b3b;*/
}

p {
    font-size: 16px;
    line-height: 25px;
    margin-top: 1.5em;
}

#logo {
    background-color: rgb(118, 204, 30);
    /*background-color: rgb(108, 232, 97);*/
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    /*font-family: 'Lobster', cursive;*/
    font-size: 45px;
    height: 90px;
    width: 360px;
    line-height: 90px;
    margin: 0 auto;
    text-align: center;
}

input.input-large {
    padding: 9px 14px;
}

div.gradient {
    background: url(gradient.png) no-repeat top center;
    min-height: 770px;
}

div.content {
    text-align: center;
    margin-top: 1.5em;
}

a.sb.gplus,
.sb a.gplus {
	background-image: url(gplus.png);
}